* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background-color: rgb(213, 224, 227);
  }
  
  header {
    background-color: #4e87c0;
  }
  
  header nav {
    text-align: center;
    font-family:Georgia, serif
  }
  
  header nav ul {
    list-style-type: none;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header nav ul li{
    margin-right: 15px;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: #fff;
  }

  header nav ul li a:hover{
    color: #c7c7c7;
  }
  
  main {
    text-align: center;
  }
  
  main h1 {
    color: #213460;
    margin: 10px 0; 
    font-family:Georgia, serif;
  }
  
  .search-bar {
    margin-bottom: 10px;
  }

  .search-bar input {
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #c7c7c7;
  }
  .search-bar button {
    padding: 3px;
    border-radius: 10px;
    border: 1px solid #c7c7c7;
    font-weight: 500;
  }

  .search-bar button:hover{
    cursor: pointer;
    background-color: #c9c9c9;
  }

  
  main h2 {
    color: #213460;
    margin: 10px;
    font-family:Georgia, serif
  }
  
  .image-container img {
    width: 500px;
    border-radius: 10px;
  }
  .image-container img:hover{
    /* scale: 1.1; */
    border: 1px solid #777;
  }

  .description h2{
    margin-bottom: 10px;

  }

  .description p {
    width: 500px;
    margin: 0 auto;
    font-family:Georgia, serif
  }

  .btn {
    display: inline-block;
    background-color: rgb(35, 68, 129);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
    margin-top: 10px;
    font-family:Georgia, serif
}
.btn:hover {
    background-color: #4c84e4;
}

  footer {
    background-color: #4e87c0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Georgia, serif

  }
  
  footer p {
    color: #fff;
  }
  